body {
  font-family: Roboto, 'Helvetica Neue', sans-serif;
  margin: 0;
  padding: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
}

img {
  max-width: 100%;
  height: auto;
  object-fit: contain;
}
.header-container {
  background-color: #1f2937;
  display: flex;
  flex-direction: column;
  width: 100%;
  flex-shrink: 0;
}

.header-image {
  border-bottom-right-radius: 20px;
  border-top-left-radius: 20px;
  border: #787a7f 1px solid;
  box-shadow: #000000 9px 9px 20px 6px ;
}
.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 10px;
}

.logo {
  display: flex;
  justify-content: flex-start;
  color: #f9faf8;
  font-size: 24px; 
}

.links {
  display: flex;
  justify-content: flex-start;
  gap: 25px;
}

.descritpion-container {
  display: flex;
  margin: 80px;
  padding: 10px;
  justify-content: space-around;
}

.main-container {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.main-text {
  font-size: 48px;
  font-weight: 900;
  color: #f9faf8;
}

span {
  color: #3882f6;
}
.subtext {
  font-size: 18px;
  color: #e5e7eb;
  margin-bottom: 10px;
}

.button {
  background-color: #3882f6;
  color: white;
  border: #1f2937;
  border-radius: 5px;
  width: 120px;
  height: 25px;
  text-align: center;
  box-shadow: #e5e7eb 2px 2px 60px 5px;
}


.card-container {
  background-color: white;
  flex-shrink: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 50px;
}

.card-title{
  font-size: 36px;
  color: #1f2937;
  font-weight: 900;
  text-align: center;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 200px;
}

.card-text {
  text-align: center;
  font-size: 18px;
  color: #1f2937;
}

.card-image {
  height: 200px;
  width: 200px;
  border: 2px solid #1f2937;
  border-radius: 10px;
  box-shadow: #1f2937 9px 9px 1px 10px;
}

.message-container {
  background-color: #e5e7eb;
  padding: 40px 80px 40px 80px;
  display: flex;
  flex-direction: column;
}

.quote {
  font-size: 36px;
  font-weight: 300;
  color: #1f2937;
  padding: 30px;
  margin: 30px 60px;
}

.bold-text {
  font-size: 20px;
  font-weight: bold;
  color: white;
}
.signature {
  display: flex;
  justify-content: flex-start;
  flex-direction: row-reverse;
  font-weight: bold;
  margin-right: 100px;
}

.signup-container {
  display: flex;
  background-color: #3882f6;
  width: 550px;
  height: 50px;
  border: 2px solid white;
  border-radius: 10px;
  padding: 30px 60px;
  justify-content: center;
  align-items: center;
  margin-bottom: 50PX;
}

.sign-up-card {
  display: flex;
  flex-direction: column;
  margin: 50px;
  justify-content: space-between;

}

.signup-container .button {
  border: 2px solid #e5e7eb;
  border-radius: 5px;
  width: 120px;
  height: 25px;
  color: white;
  text-align: center;
  flex-shrink: 0;
}


ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
  color: #e5e7eb;
  font-size: 18px;
}

.footer {
  background-color: #1f2937; 
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  color: #e5e7eb;
  padding: 30px;
  margin-top: auto;
}